<div class="container">
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{active: setActive('/search')}"><a ui-sref="search">Search</a></li>
            <li ng-class="{active: setActive('/admin')}" ng-show="isAdmin"><a ui-sref="admin">Admin</a></li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchQuery">
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="search(searchQuery);"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="nav navbar-nav navbar-right">
            <!-- Simple dropdown -->
            <span uib-dropdown>
                <a class="dropdown-toggle nav-profile" data-toggle="dropdown" uib-dropdown-toggle>
                    <img class="profile-image img-circle" src="public/images/kyoto-18x18.jpg"> {{current.username}}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                  <li><a ui-sref="profile">Account</a></li>
                  <li class="divider"></li>
                  <li><a href="/">Logout</a></li>
                </ul>
            </span>
        </div>
    </div>
</div>