<nav class="navbar navbar-default navbar-fixed-top" ng-include src="'front/navigation/navigation.html'" ng-controller="NavigationController"></nav>
<div class="container body">
    <h2 class="page-header">Admin</h2>
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item">Number of Users: {{users.length}}</li>
            <li class="list-group-item">Number of Events: {{events.length}}</li>
            <li class="list-group-item">Reported Users: {{reports.length}}</li>
            <li class="list-group-item">
                <button class="btn btn-sm" ng-click="clearUsers()">Clear Users</button>
                <button class="btn btn-sm" ng-click="clearEvents()">Clear Events</button>
                <button class="btn btn-sm" ng-click="initUsers()">Init Test Users</button>
            </li>
        </ul>
    </div>

    <uib-tabset active="active">
        <uib-tab index="1" heading="All Users ">
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="user in filteredUsers">
                    <div class="col-xs-12 col-md-6 profiles">
                        <h3><a ng-click="gotoUser(user)">{{user.username}}</a></h3>
                        <span class="label label-danger" ng-show="user.reported">Reported</span>
                    </div>
                    <div class="col-xs-12 col-md-6 profiles"><br>
                        <button class="btn btn-primary" ng-click="openEditUser(user);">Edit User</button>
                        <button class="btn btn-danger" ng-click="openConfirm('user', user);">Delete User</button>
                    </div>
                </li>
            </ul>
            <uib-pagination total-items="users.length" ng-model="currentUserPage" ng-change="userPageChanged(currentUserPage)"></uib-pagination>
        </uib-tab>
        <uib-tab index="2" heading="All Events ">
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="event in filteredEvents">
                    <div class="col-xs-12 col-md-6 profiles">
                        <h3><a ng-click="gotoEvent(event)">{{event.name}}</a></h3>
                    </div>
                    <div class="col-xs-12 col-md-6 profiles"><br>
                        <button class="btn btn-primary" ng-click="openEditEvent(event)">Edit Event</button>
                        <button class="btn btn-danger" ng-click="openConfirm('event', event)">Delete Event</button>
                    </div>
                </li>
            </ul>
            <uib-pagination total-items="events.length" ng-model="currentEventPage" ng-change="eventPageChanged(currentEventPage)"></uib-pagination>
        </uib-tab>
        <uib-tab index="3" heading="Reported Users ">
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="reported in filteredReports">
                    <div class="col-xs-12 col-md-6 profiles">
                        <h3><a ng-click="gotoUser(user)">{{reported.username}}</a></h3>
                    </div>
                    <div class="col-xs-12 col-md-6 profiles"><br>
                        <button class="btn btn-primary" ng-click="openReviewReport(reported);">Review Report</button>
                        <button class="btn btn-danger" ng-click="openConfirm('user', reported);">Delete User</button>
                    </div>
                </li>
            </ul>
            <uib-pagination total-items="reports.length" ng-model="currentReportedPage" ng-change="reportPageChanged(currentReportedPage)"></uib-pagination>
        </uib-tab>
    </uib-tabset>
</div>

<!-- -------------------------------------MODALS------------------------------ -->
<script type="text/ng-template" id="edit-user-modal">
    <div ng-include src="'front/profile/user-modal.html'"/>
</script>
<script type="text/ng-template" id="edit-event-modal">
    <div ng-include src="'front/event/event-modal.html'"/>
</script>
<script type="text/ng-template" id="confirm-modal">
    <div class="modal-header">
        <h3 class="modal-title">Confirm Delete</h3>
    </div>
    <div class="modal-body">
        <h4>Are you sure you want to delete this item?</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="confirm();">Confirm</button>
        <button class="btn btn-warning" type="button" ng-click="cancel();">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="review-report-modal">
    <div class="modal-header">
        <h3 class="modal-title">Review Report</h3>
    </div>
    <div class="modal-body">
        <p>{{reportText}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="clear();">Clear</button>
        <button class="btn btn-warning" type="button" ng-click="cancel();">Cancel</button>
    </div>
</script>