<nav class="navbar navbar-default navbar-fixed-top" ng-include src="'front/navigation/navigation.html'" ng-controller="NavigationController"></nav>
<div class="container body">
    <div class="row">
        <div class="col-sm-10">
            <h1>{{user.username}}</h1>
            <br>
            <p>{{user.description}}</p>
        </div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right">
                <img title="profile image" class="img-circle img-responsive" src="public/images/kyoto.jpg">
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group clearfix">
                <li class="list-group-item text-muted">Profile</li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong>Username</strong></span> {{user.username}}&nbsp;
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong>E-mail</strong></span>{{user.email}}&nbsp;
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong>Gender</strong></span>{{user.gender}}&nbsp;
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong>Location</strong></span>{{user.location}}&nbsp;
                </li>
                <li class="list-group-item text-right">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-default" ng-click="openEditProfile();" ng-show="self">
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="openReportModal();" ng-hide="self">
                        Report
                    </button>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item text-muted">Activity</li>
                <li class="list-group-item text-right"><span class="pull-left">
                    <strong>Rating</strong></span>{{userRating}}&nbsp;
                </li>
                <li class="list-group-item text-right"><span class="pull-left">
                    <strong>Events attended</strong></span>{{pastEvents.length}}&nbsp;
                </li>
                <li class="list-group-item text-right"><span class="pull-left">
                    <strong>Events created</strong></span>{{user.events.length}}&nbsp;
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <uib-tabset active="active">
                <uib-tab index="1" heading="Upcoming Events">
                    <ul class="list-group">
                        <li class="list-group-item clearfix" ng-repeat="event in filteredUpcomingEvents">
                            <a ng-click="gotoEvent(event);">{{event.name}}</a>
                        </li>
                    </ul>
                    <uib-pagination total-items="upcomingEvents.length" ng-model="currentUpcomingPage" ng-change="upcomingPageChanged(currentUpcomingPage)"></uib-pagination>
                </uib-tab>
                <uib-tab index="2" heading="Past Events">
                    <ul class="list-group">
                        <li class="list-group-item clearfix" ng-repeat="event in filteredPastEvents">
                            <a ng-click="gotoEvent(event);">{{event.name}}</a>
                        </li>
                    </ul>
                    <uib-pagination total-items="pastEvents.length" ng-model="currentPastPage" ng-change="pastPageChanged(currentPastPage)"></uib-pagination>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Invites</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="invite in filteredInvites">
                            <a ng-click="gotoEvent(invite)">{{invite.name}}</a>
                        </li>
                    </ul>
                    <uib-pagination total-items="invites.length" ng-model="currentInvitePage" ng-change="invitePageChanged(currentInvitePage)"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="edit-profile-modal">
    <div ng-include src="'front/profile/user-modal.html'"/>
</script>
<script type="text/ng-template" id="report-modal">
    <div class="modal-header">
        <h3 class="modal-title">Report User</h3>
    </div>
    <div class="modal-body">
        <label for="report">Reason:</label>
        <textarea class="form-control" rows="5" id="report" ng-model="reportText"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="report();">Report</button>
        <button class="btn btn-warning" type="button" ng-click="cancel();">Cancel</button>
    </div>
</script>