<nav class="navbar navbar-default navbar-fixed-top" ng-include src="'front/navigation/navigation.html'" ng-controller="NavigationController"></nav>
<div class="container body">
    <h2 class="page-header">Welcome to FriendZone!</h2>
    <div class="row">
        <!--profile corner-->
        <div class="col-sm-12 col-md-4 search-profile">
            <h3>Welcome Back, {{current.username}}!</h3>
            <div class="text-center">
                <img src="public/images/kyoto.jpg" class="avatar img-square img-thumbnail" alt="avatar">
            </div>
            <hr>
            <button class="btn btn-success" ng-click="openNewEvent();">Create New Event</button>
        </div>
        <!-- Search controls -->
        <div class="col-sm-12 col-md-8">
            <h3>Search for New Friends!</h3>
            <ul class="list-group search-list-group">
                <li class="list-group-item">
                    <label for="username">Search: </label>
                    <input type="text" class="form-control" placeholder="Hello, Is it me you're looking for?"
                        ng-model="nameSearch" id="username" ng-change="updateUserList();">
                </li>
                <li class="list-group-item">
                    <label for="location">Location: </label>
                    <input type="text" class="form-control" placeholder="Toronto, ON"
                           ng-model="locationSearch" id="location" ng-change="updateUserList();">
                </li>
                <li class="list-group-item">
                    <label for="gender">Gender</label>
                    <select class="form-control" ng-model="genderSearch" ng-options="select for select in genderSelect"
                        id="gender" ng-change="updateUserList();">
                        <option></option>
                    </select>
                </li>
                <li class="list-group-item">
                    <label for="sort">Sort by: </label>
                    <select class="form-control" ng-model="sortBy" ng-options="select for select in sortSelect"
                            id="sort" ng-change="updateUserList();">
                        <option></option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
    <div class="row search-results">
        <ul class="list-group">
            <li class="list-group-item clearfix" ng-repeat="user in filteredUsers">
                <div class="col-sm-12 col-md-3 col-lg-4">
                    <h3><a ng-click="gotoUser(user);">{{user.username}}</a></h3>
                    <div>
                        <img src="public/images/kyoto.jpg" class="avatar img-square img-thumbnail" alt="avatar">
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-8 list-controls search-list-controls">
                    <uib-rating ng-model="user.rating" max="5" read-only="true"></uib-rating>
                    <button class="btn btn-info invite-btn">Invite</button>
                </div>
            </li>
        </ul>
        <uib-pagination total-items="users.length" ng-model="currentPage" ng-change="pageChanged(currentPage)"></uib-pagination>
    </div>
</div>
<script type="text/ng-template" id="invite-modal">
    <div class="modal-header">
        <h3 class="modal-title">Invite {{target.username}}</h3>
    </div>
    <div class="modal-body">
        <p>List goes here</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel();">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="new-event-modal">
    <div ng-include src="'front/event/event-modal.html'"/>
</script>