<nav class="navbar navbar-default navbar-fixed-top" ng-include src="'front/navigation/navigation.html'" ng-controller="NavigationController"></nav>
<div class="container body">
    <h2 class="page-header">Welcome to FriendZone!</h2>
    <div class="row">
        <!--profile corner-->
        <div class="col-sm-12 col-md-4 search-profile">
            <h3>Welcome Back, {{current.username}}!</h3>
            <div class="text-center">
                <img src="public/images/kyoto.jpg" class="avatar img-square img-thumbnail" alt="avatar">
            </div>
            <hr>
            <button class="btn btn-success" ng-click="openNewEvent();">Create New Event</button>
        </div>
        <!-- Search controls -->
        <div class="col-sm-12 col-md-8">
            <h3>Search for New Friends!</h3>
            <ul class="list-group search-list-group">
                <li class="list-group-item">
                    <div class="input-group">
                        <span class="input-group-addon">Search:</span>
                        <input type="text" class="form-control" placeholder="Hello, Is it me you're looking for?">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Show Me:
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Only Men</a></li>
                            <li><a href="#">Only Women</a></li>
                            <li><a href="#">It Doesn't Matter</a></li>
                        </ul>
                    </div>
                </li>
                <li class="list-group-item">
                    <p>hello</p>
                    <!--<label class="control-label col-xs-2">Ages:</label>-->
                    <!--<select class="selectpicker col-xs-10">-->
                        <!--<option value="young">18-20</option>-->
                        <!--<option value="lessYoung">21-30</option>-->
                        <!--<option value="notYoung">30+</option>-->
                        <!--<option value="whoCares">It Doesn't Matter</option>-->
                    <!--</select>-->
                </li>
                <li class="list-group-item">
                    <p>hello</p>
                    <!--<label class="control-label col-xs-2">Within:</label>-->
                    <!--<select class="selectpicker col-xs-10">-->
                        <!--<option value="close">10km</option>-->
                        <!--<option value="lessClose">15km</option>-->
                        <!--<option value="notReallyClose">20km</option>-->
                        <!--<option value="far">25km</option>-->
                        <!--<option value="whoCares">It Doesn't Matter</option>-->
                    <!--</select>-->
                </li>
                <li class="list-group-item">
                    <p>hello</p>
                    <!--<label class="control-label col-xs-2">Sort By:</label>-->
                    <!--<select class="selectpicker col-xs-10">-->
                        <!--<option value="newest">Newly Arrived</option>-->
                        <!--<option value="oldestOnSite">Longest time in FriendZone</option>-->
                        <!--<option value="popular">Highest Rated</option>-->
                        <!--<option value="sucky">Underdogs</option>-->
                    <!--</select>-->
                </li>
            </ul>
        </div>
    </div>
    <div class="row search-results">
        <ul class="list-group">
            <li class="list-group-item clearfix" ng-repeat="user in filteredUsers">
                <div class="col-sm-12 col-md-3 col-lg-4">
                    <h3><a ng-click="gotoUser(user);">{{user.username}}</a></h3>
                    <div>
                        <img src="public/images/kyoto.jpg" class="avatar img-square img-thumbnail" alt="avatar">
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-8 list-controls search-list-controls">
                    <h5> Average Rating: 4/5</h5>
                    <button class="btn btn-default message-btn" data-toggle="modal" data-target="#message-modal">Send Message</button>
                    <button class="btn btn-info invite-btn" data-toggle="modal" data-target="#invite-modal">Invite</button>
                </div>
            </li>
        </ul>
        <uib-pagination total-items="users.length" ng-model="currentPage" ng-change="pageChanged(currentPage)"></uib-pagination>
    </div>
</div>
<script type="text/ng-template" id="invite-modal">
    <div class="modal-header">
        <h3 class="modal-title">Invite {{target.username}}</h3>
    </div>
    <div class="modal-body">
        <p>List goes here</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel();">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="new-event-modal">
    <div ng-include src="'front/event/event-modal.html'"/>
</script>